$cell-size: 2em;
$board-length: 10;

.game-board {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  height: 100%;
}

.board-container {
  width: min(90vw, 50vh);
  height: min(90vw, 50vh);
  aspect-ratio: 1 / 1;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 196, 255, 0.10);
  padding: 1em;
  border-radius: 10%;
}

.board-grid {
  width: 100%;
  height: 100%;
  position: relative;
  border: 5px solid #1e90ff;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(30, 144, 255, 0.7);
  background: linear-gradient(135deg, rgba(20, 225, 225, 0.99), rgba(0, 191, 255, 0.98));
}

.flip-board {
  -webkit-animation: flip-scale-down-diag-2 0.5s linear both;
  animation: flip-scale-down-diag-2 0.5s linear both;
}

.cells-layer {
  &.setup {
    position: static;
  }

  &.game {
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
  }

  width: 100%;
  height: 100%;

  display: grid;

  grid-template-columns: repeat($board-length, 1fr);
  grid-template-rows: repeat($board-length,1fr);

  box-sizing: border-box;
}

.board-cell {
  position: relative;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5em;
  border-radius: 5px;

  border: 1px solid rgba(255, 255, 255, 0.27);
  background: rgba(0, 0, 0, 0.05);
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  transition: background 0.3s ease;

  .icon{
    position: absolute;
    top: 15%;
    left: 15%;
    max-width: 100%;
    max-height: 100%;
    width: 70%;
    height: 70%;
  }

  &.hit {
    .icon{
      position: absolute;
      background-image: url("./assets/explosion.gif");
      background-size: cover;
    }
  }

  &[data-value="not-revealed"] {
    cursor: pointer;
  }

  &[data-value="empty"] {
    background-image: url('./assets/letter-x.png');
    background-size: cover;
    cursor: not-allowed;
    box-shadow: inset 0 0 10px rgba(0, 14, 253, 0.5);
  }

  &[data-value="hit-ship"] {
    box-shadow: inset 0 0 10px rgba(255, 99, 71, 0.8),inset 0 0 8px rgba(255, 69, 0, 0.5);

    .icon {
      background: url("./assets/fire-flame.gif");
      //background-image: url("./assets/explosion.gif");

      background-size: cover;
      animation: fireAnimation 1.5s infinite alternate;
    }
  }

  &[data-value="sunk-ship"] {
    box-shadow: inset 0 0 10px rgba(18, 17, 17, 0.59);

    .icon{
      background: url('./assets/death.png') no-repeat center center;
      animation: infinite shake 1s alternate;
      background-size: cover;
    }
  }

}

.board-row {
  display: contents;
}
