.btn-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 1em;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  cursor: pointer;
  border: rgb(255, 69, 0) 10px solid;
  background: rgb(246, 97, 37);
  color: white;

  border-radius: 20%;
  padding: 10px;
  font-size: clamp(1em, 1vw, 2em);
  height: fit-content;
  width: 5em;
  white-space: nowrap;

  &.exit {
    background: rgb(246, 97, 37);
  }

  &:hover {
    transform: scale(1.1);
  }

  &.menu{
    padding: 5px 20px;
    background-image: url("./assets/menu2.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center 20%;
    height: 5em;
    width: 5em;

    font-size: 2.5em;
    align-items: end;
  }
}

#exit-btn {
  position: absolute;
  font-size: 3em;
  width: fit-content;
  height: fit-content;
  top: 1%;
  left: 1%;
  padding: 0;
  color:  rgb(255, 69, 0);
  background: transparent;
  border: transparent;
}