.ship-layer {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  // pointer-events: none;

  &.setup{
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  &.game{
    position: static;
    pointer-events: none;

    .ship{
      opacity: 0.6 !important;
    }
  }
}

.ship {
  position: absolute !important;
  z-index: 10;
  box-sizing: border-box;
  border: none;
  border-radius: 45%;

  @mixin ship($area, $color) {
    &.ship-area-#{$area} {
      //width: calc($area * 2em);
      // padding-top: calc($area * 2em);
      //height: 2em;
      width: 2em;
      height: calc($area * 2em);
      background-image: url("./assets/submarine.png");
      background-size: 100% 100%;
      background-position: center center;
      background-repeat: no-repeat;
      aspect-ratio: 1 / 1;

      &[data-direction="vertical"] {
        width: 2em;
        height: calc($area * 2em);
        background-size: 100% 100%;

        //transform: rotate(90deg);
      }

      //&[data-direction="horizontal"] {
      //  width: calc($area * 2em);
      //  height: 2em;
      //}

      //background-color: $color;
    }
  }

  @include ship(1, red);
  @include ship(2, blue);
  @include ship(3, yellow);
  @include ship(4, green);
  @include ship(5, purple);

  &[data-overlapping="true"] {
    border: 3px solid rgba(255, 60, 60, 0.98);
    opacity: 0.3;
  }
}
