@use "components/ship";
@use "components/board";
@use "screens/setupBoard";

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
}

#app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}